#bottom-positioner {
	margin: 0 auto;
	height: 5px;
	width: 5px;
	position: relative;
	top: 300px;
}

#button {
	height: 20px;
	width: 20px;
	border: 2px solid rgb(155, 160, 216);
	border-radius: 100%;
	background-color: rgb(155, 160, 216);
	background-image: url(assets/images/atplus_white.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position: relative;
	top: 200px;
}

#button:hover {
	height: 35px;
	width: 35px;
	border: 5px solid rgba(48, 63, 159, 1);
	border-radius: 100%;
	background-color: rgba(48, 63, 159, 1);
	background-image: url(assets/images/atplus_green.png);
}

#info-bar {
	height: 130px;
	width: 130px;
	border-radius: 100%;
	background-color: #838585;
	font-family: Arial;
	color: white;
	position: relative;
	top: -100px;
    left: -50px;
}

#info-bar ul {
	list-style-type: none;
}

#info-bar ul li span{
	font-weight: bold;
	position: relative;
}

#info-bar img {
	margin: 6px;
}

.pageuser {
	position: relative;
	top: 5px;
}

.pageuser span{
	top: -10px;
}

.pagecomment {
	font-size: 30px;
}

.pagecomment img {
	position: relative;
	left: -10px;
	top: 5px;
}

.pagecomment span {
	left: -5px;
}

.mineposted {
	float: left;
	margin-left: 0px;
	position: relative;
	left: -20px;
	color: #44BD8A;
}

.mineposted span {
	top: -10px;
}

.minelike {
	position: relative;
	left: -13px;
	color: #44BD8A;
}

.minelike span {
	top: -12px;
}

#control-ring-container ul {
	list-style-type: none;
}

#mask {
	background-image: url(assets/images/nomask.png);
	top: -160px;
}

#history {
	background-image: url(assets/images/history.png);
	top: -180px;
}

#message {
	background-image: url(assets/images/message.png);
	top: -200px;
}

#message div {
	height: 20px;
	width: 20px;
	font-family: Arial;
	font-style: 0.1em;
	color: white;
	border-radius: 100%;
	background-color: red;
	text-align: center;
	line-height: 20px;
	position: relative;
	left: 18px;
	top: -8px;
}

#setting {
	background-image: url(assets/images/setting.png);
	top: -240px;
}

#signin {
	background-image: url(assets/images/signin.png);
	top: -280px;
}

.circle {
	height: 30px;
	width: 30px;
	border: 2px solid #838585;
	border-radius: 100%;
	background-color: #838585;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transision: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.info {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}


#button:hover .info {
	opacity: 1;
	visibility: visible;
}

#button:hover #info-bar {
	transform: translate(50px, -50px);
	-webkit-transform: translate(50px, -50px);
	-moz-transform: translate(50px, -50px);
}

#button:hover #mask {
	transform: translate(-35px, -25px);
	-webkit-transform: translate(-35px, -25px);
	-moz-transform: translate(-35px, -25px);
}

#button:hover #history {
	transform: translate(-50px);
	-webkit-transform: translate(-50px);
	-moz-transform: translate(-50px);
}

#button:hover #message {
	transform: translate(-35px, 25px);
	-webkit-transform: translate(-35px, 25px);
	-moz-transform: translate(-35px, 25px);
}

#button:hover #setting {
	transform: translate(10px, 38px);
	-webkit-transform: translate(10px, 38px);
	-moz-transform: translate(10px, 38px);
}

#button:hover #signin {
	transform: translate(45px, 20px);
	-webkit-transform: translate(45px, 20px);
	-moz-transform: translate(45px, 20px);
}