#bottom-positioner {
	height: 5px;
	width: 5px;
	position: fixed;
	top: 50%;
	left: 50%;
}

#button {
	height: 20px;
	width: 20px;
	border: 2px solid rgb(155, 160, 216);
	border-radius: 100%;
	background-color: rgb(155, 160, 216);
	background-image: url(assets/images/atplus_white.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	position: relative;
	top: 200px;
}

#button:hover {
	height: 40px;
	width: 40px;
	border: 8px solid rgba(48, 63, 159, 1);
	background-color: rgba(48, 63, 159, 1);
	background-image: url(assets/images/atplus_green.png);
}

#info-bar {
	height: 0px;
	width: 0px;
	overflow: hidden;
	border-radius: 100%;
	background-color: #838585;
	font-family: Arial;
	color: white;
	position: relative;
	top: 25px;
    left: 0px;
}

#info-bar ul {
	list-style-type: none;
}

#info-bar ul li span{
	font-weight: bold;
	position: absolute;
}

#info-bar img {
	position: absolute;
}

.pageuser img {
	top: 7px;
}

.pageuser span{
	top: 9px;
	left: 70px;
}

.pagecomment img {
	left: 30px;
	top: 45px;
}

.pagecomment span {
	left: 63px;
	top: 40px;
	font-size: 30px;
}

.mineposted img {
	top: 80px;
	left: 20px;
	
}

.mineposted span {
	top: 82px;
	left: 47px;
	color: #44BD8A;
}

.minelike img {
	top: 80px;
	left: 65px;
}

.minelike span {
	top: 83px;
	left: 95px;
	color: #44BD8A;
}

#control-ring-container ul {
	list-style-type: none;
}

#mask {
	background-image: url(assets/images/nomask.png);
	
}

#history {
	background-image: url(assets/images/history.png);
	top: -33px;
}

#message {
	background-image: url(assets/images/message.png);
	top: -67px;
}

#message div {
	height: 20px;
	width: 20px;
	font-family: Arial;
	font-style: 0.1em;
	color: white;
	border-radius: 100%;
	background-color: red;
	text-align: center;
	line-height: 20px;
	position: relative;
	left: 18px;
	top: -8px;
}

#setting {
	background-image: url(assets/images/setting.png);
	top: -100px;
}

#signin {
	background-image: url(assets/images/signin.png);
	top: -135px;
}

.circle {
	height: 30px;
	width: 30px;
	border: 2px solid #838585;
	border-radius: 100%;
	background-color: #838585;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	transision: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.info {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}


#button:hover .info {
	height: 130px;
	width: 130px;
	opacity: 1;
	visibility: visible;
}

#button:hover #info-bar {
	transform: translate(-30px, -140px);
	-webkit-transform: translate(-40px, -170px);
	-moz-transform: translate(-30px, -140px);
}

#button:hover #mask {
	transform: translate(-60px, -160px);
	-webkit-transform: translate(-60px, -160px);
	-moz-transform: translate(-60px, -160px);
}

#button:hover #history {
	transform: translate(-70px, -123px);
	-webkit-transform: translate(-70px, -123px);
	-moz-transform: translate(-70px, -123px);
}

#button:hover #message {
	transform: translate(-60px, -85px);
	-webkit-transform: translate(-60px, -85px);
	-moz-transform: translate(-60px, -85px);
}

#button:hover #setting {
	transform: translate(-25px, -65px);
	-webkit-transform: translate(-25px, -65px);
	-moz-transform: translate(-25px, -65px);
}

#button:hover #signin {
	transform: translate(45px, 20px);
	-webkit-transform: translate(15px, -70px);
	-moz-transform: translate(45px, 20px);
}