

.button img{
position: relative;
top: 5px;
left: 5px;
}


.page{
	text-align: center;
}
.mine{
	text-align: center;
}



/*.mine.posted{
	display: inline;
}
.mine.like{
	float: right;
	display: inline;
}*/


ul{
	list-style-type: none;
}

.unread{
width: 18px; 
height: 18px; 
background-color: rgba(255, 0, 0, 0.9); 
-webkit-border-radius: 9px; 
-moz-border-radius: 9px;
position: relative;
top: -29px;
right: -22px;
display: block;
text-align: center;
font-weight: bold;
font-size: 8px;
color: white;
}


/*.bpb .icon{
width: 32px; 
height: 32px; 
background-color: rgba(105, 105, 105, 0.6); 
-webkit-border-radius: 16px; 
-moz-border-radius: 16px;
display: table-cell;
text-align: center;	
z-index: 0;
line-height: 32px;

position: fixed;
bottom: 100px;
left: 50%;

margin-left: -16px;
}

.bpb .icon img{
	width: 60%;
	height: 60%;
}

.apb .icon{
width: 44px; 
height: 44px; 
background-color: blue; 
-webkit-border-radius: 22px; 
-moz-border-radius: 22px;
display: table-cell;
text-align: center;	
z-index: -1;
line-height: 44px;

position: fixed;
bottom: 100px;
left: 50%;

margin-left: -22px;
}

.apb .icon img{
	width: 60%;
	height: 60%;
}*/



/*所有button的定位*/
.button { 
width: 32px; 
height: 32px; 
background-color: rgba(105, 105, 105, 1); 
-webkit-border-radius: 16px; 
-moz-border-radius: 16px;
position: absolute;
} 

/*所有at向.apb定位*/
.icon{
width: 32px; 
height: 32px; 
background-color: rgba(105, 105, 105, 0.6); 
-webkit-border-radius: 16px; 
-moz-border-radius: 16px;
display: table-cell;
text-align: center;	
z-index: 0;
line-height: 32px;

position: fixed;
bottom: 100px;
left: 50%;

margin-left: -16px;
visibility: visible;
}

.iconblue{
width: 44px; 
height: 44px; 
background-color: rgba(0, 0, 255, 1); 
-webkit-border-radius: 22px; 
-moz-border-radius: 22px;
z-index: -1;
/*line-height: 44px;*/
position: absolute;

bottom: 6px;
left: 6px;

margin-left: -22px;
visibility: hidden;
}

.info{
	position: relative;
}
#control-ring{
	position: relative;
}



/*所有子元素层向定位层定位*/
#info-bar{
	width: 32px; 
	height: 32px; 
	background-color: rgba(105, 105, 105, 1); 
	-webkit-border-radius: 16px; 
	-moz-border-radius: 16px;
	z-index: -2;
	position: absolute;
}

#control-ring-container{
	width: 32px; 
	height: 32px; 
	background-color: rgba(105, 105, 105, 1); 
	-webkit-border-radius: 16px; 
	-moz-border-radius: 16px;
	z-index: -2;
	position: absolute;
}

.apb{
	width: 32px; 
	height: 32px; 
	background-color: rgba(105, 105, 105, 1); 
	-webkit-border-radius: 16px; 
	-moz-border-radius: 16px;
	z-index: -2;
	position: absolute;
}



#button{
	position: absolute;
}

/*定位层，所有元素向他定位*/
#bottom-positioner {
position: fixed;
bottom: 100px;
left: 50%;

margin-left: -16px;
width: 32px; 
height: 32px; 
-webkit-border-radius: 16px; 
-moz-border-radius: 16px;
background-color: rgba(255, 0, 0, 1); 
/*line-height: 32px;
vertical-align: middle;
-webkit-transition:width 2s;
-webkit-transition:height 2s;*/
}


/*设置图标层数*/
.mask{
z-index: -3;
}
.history{
z-index: -4;
}
.message{
z-index: -5;
}
.setting{
z-index: -6;
}
.sign{
z-index: -7;
}

/*可变控制层，保持住效果，嵌套控制元素*/
#at-plus-container{
position: fixed;
bottom: 100px;
left: 50%;

margin-left: -16px;
width: 32px; 
height: 32px; 
-webkit-border-radius: 16px; 
-moz-border-radius: 16px;
background-color: rgba(0, 255, 0, 1); 
/*line-height: 32px;
vertical-align: middle;*/	
}

/*可变控制层hover后变大*/
#at-plus-container:hover{
	width: 300px;
	height: 300px;
	-webkit-border-radius: 16px; 
	-moz-border-radius: 16px;
	position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -150px;
}

/*控制变化的子孙元素*/
#at-plus-container:hover #info-bar{
	width: 120px; 
	height: 120px; 
	background-color: rgba(105, 105, 105, 1); 
	-webkit-border-radius: 60px; 
	-moz-border-radius: 60px;
	z-index: -2;
	position: absolute;
}
#at-plus-container:hover .icon{
	visibility: hidden;
}
#at-plus-container:hover .iconblue{
	visibility: visible;
}
/*#info-bar{
	text-align: center;
	width: 120px; 
	height: 120px; 
	background-color: rgba(105, 105, 105, 1); 
	-webkit-border-radius: 60px; 
	-moz-border-radius: 60px;
	z-index: -2;
	position: absolute;
}*/