ul {
	list-style-type: none;
}
#bottom-positioner {
	position: relative;
}
#info-bar {
	position: absolute;
	left: -2.6rem;
	top: -7.5rem;
	background: #909090;
	width:5.5rem;
	height: 5.5rem;
	border-radius: 5.5rem;
	padding: 1rem 1rem;
	visibility: hidden;
	transition: all 0.5s;
	transition-delay: 0.3s;
}
span {
	font-weight: bold;
}
.user span {
	position: absolute;
	top: -0.08rem;
	left: 1.8rem;
}
.comment span {
	font-size: 1.9rem;
	position: absolute;
	top: -0.8rem;
	left: 1.8rem;
}
.posted span {
	position: absolute;
	top: -0.08rem;
	left: 1.7rem;
}
.like span {
	position: absolute;
	top: -0.08rem;
	left: 1.9rem;
}
.user {
	position: absolute;
	left: 2.6rem;
	top: 0.8rem;
}
.comment {
	position: absolute;
	left: 1.7rem;
	top: 2.8rem;
}
.posted {
	position: absolute;
	left: 1.3rem;
	top: 4.9rem;
}
.like {
	position: absolute;
	left: 4.1rem;
	top: 4.9rem;
}

#button {
	position: absolute;
	left: 12rem;
	top: 8rem;
	width:2.3rem;
	height: 2.3rem;
	border-radius: 2.3rem;
	background-color: rgba(48, 63, 159, 1);
	transition: all 0.5s;
	transition-delay: 0.3s;
}
#control-ring li {
	width: 2rem;
    	height: 2rem;
    	background-color: #909090;
   	background-position: center;
   	background-repeat: no-repeat;
   	text-indent: 0.3rem;
	width:2rem;
	border-radius: 2rem;
	position: absolute;
	left: 0rem;
	top: -0.2rem;
	visibility: hidden;
	transition: all 0.5s;
	transition-delay: 0.3s;

}
.icon{
	position: absolute;
	left: 0.2rem;
	top: 0.3rem;
	width:1.8rem;
	height: 1.8rem;
	transition: all 0.5s;
	transition-delay: 0.3s;
}
.mask {
	background-image: url("assets/images/nomask.png");
}
.mask:hover {
	background-image: url("assets/images/mask.png");
}
.history {
	background-image: url("assets/images/history.png");
}
.message{
	background-image: url("assets/images/message.png");
}
.setting {
	background-image: url("assets/images/setting.png");
}
.sign {
	background-image: url("assets/images/signin.png");
}
.sign:hover {
	background-image: url("assets/images/signout.png");
}
.unread {
	background: Chocolate;
	color: white;
	width:1.2rem;
	height: 1.2rem;
	border-radius: 1.2rem;
	position: absolute;
	left: 1.4rem;
	top: -0.5rem;
}
.page {
	color: white;
	font-weight: bolder;
}
.mine {
	color: #079E6E;
}
#button:hover {
	width:4rem;
	height: 4rem;
	border-radius: 4rem;
}
#button:hover .icon {
	width: 2.8rem;
	height: 2.8rem;
	left: 0.6rem;
	top: 0.6rem;
	
}
#button:hover #info-bar{
	visibility: visible;
	left: -1.6rem;
	top: -8.3rem;
}

#button:hover .mask {
	visibility: visible;
	left: -4rem;
	top: -1.4rem;
}
#button:hover .history {
	visibility: visible;
	left: -4.4rem;
	top: 1.3rem;
}
#button:hover .message {
	visibility: visible;
	left: -3.1rem;
	top: 3.9rem;
}
#button:hover .setting {
	visibility: visible;
	left: -0.6rem;
	top: 5.3rem;
}
#button:hover .sign{
	visibility: visible;
	left: 2.3rem;
	top: 5rem;
}