#bottom-positioner {
	position: fixed;
	width: 350px;
	height: 350px;
	border-radius: 350px;
	left: 35%;
	bottom: 5%;
	background-color: transparent;
	overflow: hidden;
}
#button {
	position: absolute;
	background-color: transparent;
	height: 45px;
	width: 45px;
	border-radius: 45px;
	top: 42%;
	left: 42%;
}
#button:hover {
	position: absolute;
	background-color: transparent;
}
.apb {
/*	border: 2px red solid;*/
	position: absolute;
	top: 0;
	left: 0;
	background: url(assets/images/atplus_green.png) no-repeat;
	background-size: 60%;
	background-position: center;
	background-color: gray;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	opacity: 0.7;
	transition: width 1s, height 1s, border-radius 1s, opacity 1s;
/*	transition-delay: 2s;*/
}
#button:hover .apb {
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	height: 70px;
	width: 70px;
	border-radius: 70px;
	background-size: 80%;
	left: auto;
	top: auto;
	opacity: 1;
}
#info-bar {
	visibility: hidden;
	position: absolute;
	left: -55%;
	bottom: 0%;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	opacity: 0;
	transition: height 1s, width 1s, border-radius 1s, transform 1s, opacity 1s;
}
#button:hover #info-bar {
	visibility: visible;
	display: block;
	position: absolute;
	background-color: red;
	color: green;
	height: 120px;
	width: 120px;
	background-color: gray;
	border-radius: 120px;
	font-weight: bolder;
	opacity: 1;
	color: white;
	font-family: Verdana, serif;
	transform: translate(0px, -60px);
}
#info-bar li {
	list-style: none;
}
#info-bar li:nth-child(1) {
	position: absolute;
	left: 35%;
	top: 10%;
}
#info-bar li:nth-child(2) {
	position: absolute;
	font-size: 200%;
	left: 35%;
	bottom: 40%;
}
#info-bar li:nth-child(3) {
	position: absolute;
	color: #079E6E;
	left: 20%;
	bottom: 15%;
}
#info-bar li:nth-child(4) {
	position: absolute;
	color: #079E6E;
	right: 20%;
	bottom: 15%;
}

#control-ring-container li {
	display: none;
}
#control-ring-container #control-ring li {
	display: block;
	list-style: none;
	background-color: gray;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	color: white;
	font-weight: bold;
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
#control-ring-container li span {
	position: absolute;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	right: -5%;
	bottom: 50%;
	text-align: center;
}
#control-ring-container li:nth-child(1) {
	visibility: hidden;
	position: absolute;
	right: 10%;
	top: 5%;
}
#button:hover #control-ring-container li:nth-child(1) {
	visibility: visible;
	transform: translate(-65px, -35px);
	opacity: 1;
}
#control-ring-container li:nth-child(2) {
	visibility: hidden;
	position: absolute;
	right: 10%;
	top: 5%;
}
#button:hover #control-ring-container li:nth-child(2) {
	visibility: visible;
	transform: translate(-80px, 15px);
	opacity: 1;
}

#control-ring-container li:nth-child(3) {
	visibility: hidden;
	position: absolute;
	right: 10%;
	top: 5%;
}
#button:hover #control-ring-container li:nth-child(3) {
	visibility: visible;
	transform: translate(-75px, 60px);
	opacity: 1;
}
#control-ring-container li:nth-child(4) {
	visibility: hidden;
	position: absolute;
	right: 10%;
	top: 5%;
}
#button:hover #control-ring-container li:nth-child(4) {
	visibility: visible;
	transform: translate(-40px, 90px);
	opacity: 1;
}
#control-ring-container li:nth-child(5) {
	visibility: hidden;
	position: absolute;
	right: 10%;
	top: 5%;
}
#button:hover #control-ring-container li:nth-child(5) {
	visibility: visible;
	transform: translate(10px, 95px);
	opacity: 1;
}
#control-ring-container li img {
	position: relative;
	left: 30%;
	top: 30%;
	width: 40%;
	height: 40%;
}