#control-ring-container
  ul#control-ring
    li.mask.button(title='蒙板')
    li.history.button(title='历史记录')
    li.message.button(title='消息')
      span.unread 2
    li.setting.button(title='设置')
    li.sign.button(title='登录/注册')