body {
    font-family: Verdana;
}


#control-ring .button {
    visibility: hidden;
    width: 40px; 
    height: 40px;
    background: rgba(0, 0, 0,0.7);
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top:160px;
    //overflow: hidden;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari 和 Chrome */
    -o-transition: all .5s; /* Opera */
}

#control-ring .mask {
    position: relative;
    top:200px;
}
#control-ring .message {
    position: relative;
    top:120px;
}
#control-ring .setting {
    position: relative;
    top:80px;
}
#control-ring .sign {
    position: relative;
    top:40px;
}
.info {
    visibility: hidden;
    overflow: hidden;
    width: 10px; 
    height: 10px;
    background: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    top: 230px;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari 和 Chrome */
    -o-transition: all .5s; /* Opera */
}

#control-ring * img {
    position: relative;
    top:9px;
    left:9px;
}

span.unread {
    position: relative;
    bottom:9px;
    left:5px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    color:white;
}

.icon2 {
    visibility: hidden;
    position: relative;
    bottom: 30px;
    width: 1px; 
    height: 1px; 
    border-radius: 50%;
    background: rgba(48, 63, 159, 0);
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari 和 Chrome */
    -o-transition: all .5s; /* Opera */
}

.icon {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    background: rgba(0, 0, 0,0.5);
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
}


.icon img {
    width:20px;
    position:relative;
    top:5px;
    left:6px;
}

.icon2 img {
    width:40px;
    position:relative;
    top:12px;
    left:6px;
}

.user {
    position:relative;
    left:18px;
    top:-3px;
    color:white;
}

.comment {
    position:relative;
    left:10px;
    top:7px;
    color:white;
    font-size:30px;
}

.posted {
    position:relative;
    top:17px;
    left:-10px;
    color:#079E6E;
    font-weight: bold;
}

.like {
    position:relative;
    top:-10px;
    left:50px;
    color:#079E6E;
    font-weight: bold;
}

li {
    list-style-type:none;
}

.container:hover .icon2 {
    transform:scale(1);
    visibility: visible;
    width: 50px;
    height: 50px;
    background: rgba(48, 63, 159, 1);
}

.container:hover .info {
    visibility: visible;
    -moz-transform: translateY(-35px);
    -webkit-transform: translateY(-35px);
    -o-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px); 
    width: 150px; 
    height: 150px;
    transform:scale(1);
    background: rgba(0, 0, 0,0.7);
    border-radius: 50%;
}

.container:hover .mask {
    visibility: visible !important;
    -moz-transform: translate(-70px,-28px);
    -webkit-transform: translate(-70px,-28px);
    -o-transform: translate(-70px,-28px);
    -ms-transform: translate(-70px,-28px);
    transform: translate(-70px,-28px); 
    width: 40px; 
    height: 40px;
    transform:scale(3);
}

.container:hover .history {
    visibility: visible !important;
    -moz-transform: translate(-85px,15px);
    -webkit-transform: translate(-85px,15px);
    -o-transform: translate(-85px,15px);
    -ms-transform: translate(-85px,15px);
    transform: translate(-85px,15px); 
    width: 40px; 
    height: 40px;
    transform:scale(3);
}

.container:hover .message {
    visibility: visible !important;
    -moz-transform: translate(-70px,60px);
    -webkit-transform: translate(-70px,60px);
    -o-transform: translate(-70px,60px);
    -ms-transform: translate(-70px,60px);
    transform: translate(-70px,60px); 
    width: 40px; 
    height: 40px;
    transform:scale(3);
}

.container:hover .setting {
    visibility: visible !important;
    -moz-transform: translate(-35px,90px);
    -webkit-transform: translate(-35px,90px);
    -o-transform: translate(-35px,90px);
    -ms-transform: translate(-35px,90px);
    transform: translate(-35px,90px); 
    width: 40px; 
    height: 40px;
    transform:scale(3);
}

.container:hover .sign {
    visibility: visible !important;
    -moz-transform: translate(15px,80px);
    -webkit-transform: translate(15px,80px);
    -o-transform: translate(15px,80px);
    -ms-transform: translate(15px,80px);
    transform: translate(15px,80px); 
    width: 40px; 
    height: 40px;
    transform:scale(3);
}