.atplus1 {
	transition:1s;
	margin:auto;
	text-align: center;
	background-color: #9dc6ef;
	width: 50px;
	height: 50px;
	margin-top: 200px;
	border-radius: 50%;
}

.imgat1 {
	transition:1s;
	padding-top: 13px;
}

.imgat2 {
	transition:1s;
	display: none;
}

.nav_1, .nav_2, .nav_3, .nav_4, .nav_5, .nav_6 {
	display: none;
	transition:1s;
}

.atplus1:hover {
	width: 100px;
	height: 100px;
	background-color: blue;
}

.atplus1:hover .imgat1{
	display: none;
}

.atplus1:hover .imgat2{
	display: inline;
	padding-top: 25px;
}

.atplus1:hover .nav_1 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transform : translate(-25px, -247px);
}

.atplus1:hover .nav_1 .id1 {
	display: block;
	padding-top:16px;
}

.atplus1:hover .nav_1 .id1 b {
	display: inline;
	margin-left: 10px;
	font-size:22pt;
	color: white;
	font-weight: bold;
}

.atplus1:hover .nav_1 .id2 {
	display: block;
}

.atplus1:hover .nav_1 .id2 b {
	display: inline;
	margin-left: 10px;
	font-size:30pt;
	color: white;
	font-weight: bold;
}

.atplus1:hover .nav_1 .id3 {
	display: inline;
}

.atplus1:hover .nav_1 .id3 b {
	display: inline;
	margin-left: 10px;
	font-size:20pt;
	color: #00ff2a;
	font-weight: bold;
}

.atplus1:hover .nav_1 .id4 {
	display: inline;
}

.atplus1:hover .nav_1 .id4 b {
	display: inline;
	margin-left: 10px;
	font-size:20pt;
	color: #00ff2a;
	font-weight: bold;
}

.atplus1:hover .nav_2 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform : translate(-60px, -257px);
}

.atplus1:hover .nav_2 .id1 {
	display: inline;
	padding-top:12px;
}

.atplus1:hover .nav_3 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform : translate(-90px, -257px);
}

.atplus1:hover .nav_3 .id1 {
	display: inline;
	padding-top:12px;
}

.atplus1:hover .nav_4 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform : translate(-60px, -257px);
}

.atplus1:hover .nav_4 .id1 {
	display: inline;
	padding-top:12px;
	padding-left: 12px;
}

.atplus1:hover .nav_4 span {
	display: inline;
	float:right;
	width:16px;
	height:16px;
	border-radius: 50%;
	text-align: center;
	background-color: red;
	font-size:8pt;
	color: white;
	font-weight: bold;
}

.atplus1:hover .nav_5 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform : translate(-15px, -267px);
	
}

.atplus1:hover .nav_5 .id1 {
	display: inline;
	padding-top:12px;
}

.atplus1:hover .nav_6 {
	display: block;
	text-align: center;
	background-color: #666464;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transform : translate(50px, -317px);
}

.atplus1:hover .nav_6 .id1 {
	display: inline;
	padding-top:12px;
}
